//Reset
@import "reset";
//--------------------
//Colors
@import "colors";
//--------------------
//Typography
@import "typography";
//--------------------
//--------------------
//Styles
.App{
   display: flex;
   flex-direction: column;
}

body{
   overflow: hidden;
}

.header{
   position: sticky;
   top: 0;
   z-index: 999;
   text-align: center;
   user-select: none;
   color:#fff;
   padding: 8px;
   background-color: $black;
}

.spreadsheet{  
   display: flex;
   flex-direction: column;
   max-width: 100%;
   display: block;
   overflow: scroll;
   max-height: 100vh;
   position: sticky;
   top: 0;
   width: 100%;
   width: 100%;
   max-height: 85vh;
   overflow: auto;



}
.row{
   &:last-child{
      border-bottom: 1px solid $black-10;
   }
   display: flex;
}

.row-cells{
   display: flex;
}

h5.cell{
   user-select: none;
   position: sticky;
   z-index: 120;
}

div.cell{
   @include body-3;
}

.cell{
   background-color: #fff;
   border: 1px solid $black-10;
   border-right: 0;
   border-bottom: 0;
   padding: 4px;
   width: 8rem;
   text-align: center;
   &:last-child{
      border-right: 1px solid $black-10;
   }
   &:focus{
      border: 3px solid $black-10;
      box-shadow:inset 0px 0px 0px 2px $black !important;
   }
}

.cell.selected{
   box-shadow:inset 0px 0px 0px 2px $black;

}

//Toolbar


.toolbar{
   display: flex;
   flex-direction: column;
}
.toolbar-top{
   background: $black-5;
   display: flex;
   padding: .2em .5em;
}

.toolbar-bottom{

   padding: 1em 1.5em;  
}

.file-actions{
   position: relative;
}

.file-button, .help-button{
   @include button-1;
   position: relative;
   padding: .5em 1em;
   border-radius: 4px;
   &:hover{
      background-color: $black-10;
   }
}

.file-menu{
   padding: 8px 0;
   display: none;
   white-space: nowrap;
   position: absolute;
   left: 0;
   top: 2em;
   border: 1px solid $black-10;
   background-color: #fff;
   box-shadow: $shadow;
   z-index: 999;
   ul{
      li{
         cursor: pointer;
         padding:8px 24px;

         &:hover{
            background-color: rgba($color: $black-5, $alpha: .6);
         }
      }
   }

   #file-save::before{
      background-image: url("./assets/Save.svg");

   }

   #file-create::before{
      background-image: url("./assets/Add.svg");

   }

   #file-upload::before{
      background-image: url("./assets/Folder.svg");

   }

   #file-save::before, #file-create::before,#file-upload::before{
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      filter: brightness(0) invert(9%) sepia(9%) saturate(5220%) hue-rotate(202deg) brightness(87%) contrast(111%);

      background-repeat: no-repeat;
      background-size:contain;
      width: 18px;
      height: 18px;
   }

   #file-create, #file-save, #file-upload{
      input{
         padding: 0;
         margin: 0;
         border: none;
         outline: none;
         background: none;
         visibility: hidden;     
         width: 100%;    
      }
   }

   #file-upload{
      input::-webkit-file-upload-button {
         display: none;
       }
   }

   #file-save, #file-create, #file-upload{
      position: relative;
      @include button-2;
      cursor: pointer;
       display: flex;
      align-items: center;
      padding:8px 24px;

   }


}

#select-function{
   cursor: pointer;
   width: 5em;
   background: #fff;
   border: 1px solid $black-25;
   margin-right: 1em;
   position: relative;
   padding: 2px 8px;
}


.function-label{
   user-select: none;
   margin-right: .5em;
   opacity: .75;
   filter: brightness(0) invert(9%) sepia(9%) saturate(5220%) hue-rotate(202deg) brightness(87%) contrast(111%);
   img{
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
   }
}

.cell-value-input{
   border: 1px solid $black-25;
   padding: 2px 8px;
   width: 20em;
}

.help-window{
   position: absolute;
   top: 25vh;
   left: 25vw;
   z-index: 998;
   padding: 3em 1em;
   border: 1px solid $black-10;
   background-color: #fff;
   box-shadow: $shadow;
   display: flex;
   justify-content: space-between;
   width: 40vw;
   height: 50vh;
   display: none;
   
}

.help-window-nav{
   display: flex;
   flex-direction: column;
   button{
      @include button-1;
      padding: .5em 1em;
      margin-bottom: 1em;
      border-radius: 4px;
      &:hover{
         background-color: $black-5;
      }
      &:active{
         background-color: $black-5;

      }
   }

}

.window-info{
   display: flex;
   flex-direction: column;
}


.error{
   color: $red-01;
   text-align: center;
   margin-top: 2em;
}